body {
   font-family: 'Noto Sans KR', sans-serif;
   margin: 0;
 }
 
 .section {
   padding: 32px;
 }
 
 #career.section {
   background-color: #161346;
   color: #ffffff;
   text-align: center;
 }
 
 #footer.section {
   background-color: #120f3f;
   color: #d9d9d9;
   font-size: 16px;
   font-weight: 400;
   line-height: 8px;
 }
 
 #career .title {
   color: #ffffff;
   font-family: Poppins;
   font-size: 32px;
   font-weight: 600;
   line-height: 48px;
   margin: 8px 0;
 }
 
 #career .description {
   color: #8287a4;
   font-size: 16px;
   font-weight: 400;
   line-height: 23px;
   margin: 8px 0;
 }
 
 .container {
   margin: 0 auto;
   width: 720px;
 }
 
 a.see-more {
   background: #413c91;
   border-radius: 9999px;
   color: #ffffff;
   display: inline-block;
   font-size: 16px;
   font-weight: 700;
   line-height: 23px;
   margin: 32px 0;
   padding: 16px 32px;
   text-decoration: none;
 }
 
 a.see-more:hover{
  background-color: #524cad;
 }
 }
 