* {
   box-sizing: border-box;
 }
 
 body {
   font-family: Poppins, 'Noto Sans KR', sans-serif;
   margin: 0;
 }
 
.header{
  background-image:url('bg.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  color:#ffffff;
}

.header-title{
  font-family: Poppins;
  font-size: 20px;
  padding: 12px 40px;
  line-height: 30px;
}

.header-title-accent{
  font-weight: 700;
}

.header-tagline-small{
  color: #8287a4;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}
