.profile{
   width:100px; 
   display: block; 
   margin-left:auto;
   margin-right: auto
}

.introname{
   text-align: center
}

.intromain{
   text-align: center
}

.box{
    width:100px;
    background-color : cadetblue;
    margin-top: 30px;
    padding: 40px;
    /* padding : 내부여백 안쪽여백  상하좌우 안쪽여백 margin 상하좌우여백 */
    border-radius: 5px ;
    /* display: block;  상자는 이미 block을 기본을 갖고있음. p,h block 가로행을 전부 차지해주셈.*/
    margin-left:auto;
    margin-right: auto;
    font-size : 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 5px black;
 }

 .container {
   width: 800px;
 }

 .header{
   width:100%;
   height:50px;
   background: aquamarine;
 }

 .left-menu{
   width:20%;
   height:400px;
   background :cornflowerblue;
   /* float: left; */
   display: inline-block;
   vertical-align: top;
 }

 .right{
   width:80%;
   height: 400px;
   background: coral;
   /* float: left; */
   display: inline-block;

}

.footer{
   width:100%;
   height:100px;
   background-color:grey;
   /* clear:both; */

}

.blogboxbg{
   width: 800px;
   height: 320px;
   /* background: black  ; */
   margin-left:auto;
   margin-right:auto;
}
.innerbigbox{
   width: 80%;
   height: 100%;
   background: #eee;
   float:left;
}

.title{
   width: 95%;
   height: 20%;
   /* background: yellow; */
   margin:5px 5px 5px 5px;
}

.bonmoon{
   width: 95%;
   height: 75%;
   /* background: rgb(215, 209, 214); */
   margin:5px 5px 5px 5px;
}

.image-box{
   width:20%;
   height:200px;
   background: pink;
   float: left;
   margin-top:60px;
}

.blog-profile{
   width:30px;
   display:block;
   float:left;
}

.blogname{
   width:50px;
   float:left;
}

.navbar li{
   display:inline-block;
   width:60px;
   text-align: center;
   background:#eee;
   padding: 10px;
   border-radius: 5px;
}

.navbar a{
   font-size: 16px;
   text-decoration:none}