#myNumber {
   font-size: 100px;
 }
 
 .color-btn {
   width: 30px;
   height: 30px;
   border: none;
   cursor: pointer;
   margin-top: 15px;
 }
 
 .red { background-color: #FF0000; }
 .orange { background-color: #FFA500; }
 .yellow { background-color: #FFFF00; }
 .green { background-color: #008000; }
 .blue { background-color: #0000FF; }
 .indigo { background-color: #4B0082; }
 .purple { background-color: #800080; }
 .black { background-color: #000000; }